<!-- This is like the template for all the pages -->

<!DOCTYPE html>
<html>

<div class="containter">

  <head>
    <title>PortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <!-- Nav Bar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Portfolio</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark">
            <% if user_signed_in? %>
              <a class="p-2 text-dark"><%= current_user.email %></a>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-dark' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-dark'%>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </a>
        </nav>
    </div>
    <!-- End of nav bar -->

  <body>
    <%= yield %>
  </body>

</div>

</html>
